.md-typeset div.arithmatex  {
    overflow: initial;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

h2 {
    color: cornflowerblue;
}

h3 {
    color: lightskyblue;
}

.center {
    display: block;
    margin: 0 auto;
}
